{{ define "layout" }}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ block "title" . }}Leadway{{ end }}</title>
    <link rel="stylesheet" href="/static/layout.css" />
    <link rel="stylesheet" href="/static/clone_form.css">
    <link rel="stylesheet" href="/static/clone_button.css" />
    {{block "stylesheet" .}} 
    {{end}}
   

    <link rel="stylesheet" href="/static/voice_card.css">
    <link rel="stylesheet" href="/static/voice_grid.css">
    <link rel="stylesheet" href="/static/generate_video.css">
    <link rel="stylesheet" href="/static/recorder.css">
</head>

<body>
    <div id="overlay" class="overlay"></div>
   <div class="nav-bar-container">
        <div class="left-container">
            <img src="/static/imgs/leadway_logo.png" class="leadway-logo">
        </div>
       
        <div class="middle-container">
            <input type="text" placeholder="Search" name="text" class="search-input">
        </div>
        <div class="right-container">
            <button class="clone-button" id="clone-button"> Clone + </button>
        </div>
   </div>
   <div class="sidebar">
        <ul>
            <li>Knowledge Base</li>
            <li>Custom Actions</li>
            <li><a href="/api/record">Record</a></li>
            <li>Contacts</li>
            <li><a href="/api/series">Series</a></li>
            <li ><a href="/api/videos">Upload</a></li>
        </ul>
   </div>
   <main class="main-container">
        {{block "content" .}}{{ end }}
   </main>
</body>



</html>
{{ end }}
