<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="static/layout.css" />
    <link rel="stylesheet" href="static/clone_button.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>leadway</title>
    <link rel="stylesheet" href="static/clone_form.css">

</head>

<body>
   <div class="nav-bar-container">
        <div class="left-container">
            logo
        </div>
       
        <div class="middle-container">
            searchbox
        </div>
        <div class="right-container">
            <button class="btn"> Clone + </button>
        </div>
   </div>
   <div class="sidebar">
        <ul>
            <li>Assistants</li>
            <li>Teams</li>
            <li>Knowledge Base</li>
            <li>Workflows</li>
            <li>Contacts</li>
            <li>Settings</li>
        </ul>
   </div>

   <main class="main-container">
    <div class="form-container">
        <form class="form-container">
            <h2>Upload & Clone Voice</h2>
            <input type="text" id="name" name="name" placeholder="Enter Voice Name" required>
            <input type="file" name="voice" accept=".mp3" required>
            <br><br>
            <button type="submit">Upload & Clone Voice</button>
    </div>
   </main>
</body>



</html>
